<!-- <p>podcast works!</p>
<ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig" 
                        (init)="slickInit($event)"
                        (breakpoint)="breakpoint($event)"
                        (afterChange)="afterChange($event)"
                        (beforeChange)="beforeChange($event)">
        @for (slide of slides; track slide.img) {
            <div ngxSlickItem class="slide">
                  <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        }
    </ngx-slick-carousel> -->
<section style="height: 100vh;background-color: pink;display: flex;align-items: center;justify-content: center;">
    <p style="font-family: Jameel Noori Nastaleeq;font-size: 30px;text-align: center;">If you have any suggestion related to what else I should add from Quran and Hadith then please Dm me.</p>
</section>