<!-- <div
  style="height: 100vh;background-color: #000;display: flex;align-items: center;justify-content: center;flex-direction: column;">
  
  <h1 style="font-family: Lateef;color: #fff;font-size: 50px;">لَا إِلَٰهَ إِلَّا هُوَ </h1>
  <br><br><br><br><br><br><br><br>
  <button (click)="savePageAsImage()">save img</button>
</div> -->

<!-- <div class="video-container">
  <video src="assets/pixabay/23881-337972830_small.mp4"
         autoplay
         muted
         playsinline
         loop>
  </video>
  <div class="gradient-overlay"></div>
  <div class="text-overlay">
    <h2>Your Text Here</h2>
    <p>Additional text if needed</p>
  </div>
</div> -->


<!-- <p>A Hizb is half of a Juz', so, we have 60 Hizbs in the Qur'an, containing 18 pages each. It is reported that the
  Messenger of Allah (SAW) used to read at least one Hizb a day. If one were to read one Hizb a day, they would finish
  the whole Qur'an in two months.</p> -->

<!-- <section style="height: 100vh;">
  <p>30 juz(parah)</p>
  <p>each juz is divided into two hizb</p>
  <p>there are 60 Hizbs in the Quran.</p>
  <p>Each Hizb is subdivided into four quarters called Maqraʼ</p>
</section> -->


<!-- <p>
  There are seven manzil in Quran that is,

  Al-Fatihah (1) through An-Nisa' (4)
  Al-Maida (5) through At-Tawba (9)
  Yunus (10) through An-Nahl (16)
  Isra' (17) through Al-Furqan (25)
  Ash-Shuara' (26) through Ya-Seen (36)
  As-Saffat (37) through Al-Hujarat (49)
  Qaf (50) through An-Nass (114)
</p> -->
<!-- <p>
  There are seven manzil in Quran that is,

  Al-Fatihah (1) through An-Nisa' (4)
  Al-Maida (5) through At-Tawba (9)
  Yunus (10) through An-Nahl (16)
  Isra' (17) through Al-Furqan (25)
  Ash-Shuara' (26) through Ya-Seen (36)
  As-Saffat (37) through Al-Hujarat (49)
  Qaf (50) through An-Nass (114)
</p> -->
<!-- 
<div class="container">
  <div class="division">
      <h2>Surah  (सूरह)</h2>
      <p>Chapters of the Quran</p>
  </div>
  <div class="division">
      <h2>Aayat (आयात)</h2>
      <p>Verses within each surah</p>
  </div>
  <div class="division">
      <h2>Juz/Para (पारा)</h2>
      <p>30 parts of the Quran</p>
  </div>
  <div class="division">
      <h2>Manzil (मंजिल)</h2>
      <p>7 sections for easy recitation</p>
  </div>
  <div class="division">
      <h2>Ruku (रुकू)</h2>
      <p>Sections within surahs</p>
  </div>
  <div class="division">
      <h2>Hizb (हिज़्ब)</h2>
      <p>60 parts of the Quran</p>
  </div>
  <div class="division">
      <h2>Maqra (मक़रा)</h2>
      <p>Reading portions of the Quran</p>
  </div>
  <div class="division">
      <h2>Sajda (सज्दा)</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Makki aur Madani Surahs</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Mufassal Surahs</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Muqattaʿat</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tafsir</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tajweed</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Jamal al-Quran</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Riwayat</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Al-Ahruf al-Sabʿah</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Qira'at</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Al-Mathani</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Ahl al-Quran</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Makki aur Madani Signs</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Rub' al-Hizb</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Basmala</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Mufassir</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Mushaf</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Juz' Amma</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tarteel</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tajweed</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tilawah</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Qari</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Rasm</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Hafiz</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tahfiz</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Qira'ah</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Al-Mushaf al-Uthmani</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Asbab al-Nuzul</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Naskh</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Shan-e-Nuzool</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Hadith</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Sunna</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Fiqh</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Sahaba</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tabi'un</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Ahl al-Bayt</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Tawhid</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Shirk</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Zakat</h2>
      <p>Verses where prostration is recommended</p>
  </div>
  <div class="division">
      <h2>Ramadan</h2>
      <p>Verses where prostration is recommended</p>
  </div>
</div> -->

<!-- <div class="quran-divisions">
  <div class="header">
    <h1 style="font-family: Jameel Noori Nastaleeq;">Quranic Divisions</h1>
  </div>
  <ul class="list">
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Surah)</span>&nbsp;سورۃ 
      <p
        style="position: absolute;right: -25%;top: 0;color: #ff0101;">۱.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Ayah)</span>&nbsp;آیت <p
        style="position: absolute;right: -30%;top: 0;color: #ff0101;">۲.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Juz)</span>&nbsp;پارہ <p
        style="position: absolute;right: -40%;top: 0;color: #ff0101;">۳.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Manzil)</span>&nbsp;منزل 
      <p
        style="position: absolute;right: -25%;top: 0;color: #ff0101;">۴.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Ruku)</span>&nbsp;رکوع <p
        style="position: absolute;right: -30%;top: 0;color: #ff0101;">۵.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Sajda)</span>&nbsp;سجدہ <p
        style="position: absolute;right: -30%;top: 0;color: #ff0101;">۶.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Hizb)</span>&nbsp;حزب 
      <p
        style="position: absolute;right: -30%;top: 0;color: #ff0101;">۷.</p>
    </li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Maqra)</span>&nbsp;مقرا <p
        style="position: absolute;right: -30%;top: 0;color: #ff0101;">۸.</p>
    </li>
  </ul>

  <button class="btn">quran.icvibes</button>
  <div class="social" style="display: flex;justify-content: center;align-items: center;"><br><br><br><br>
    <img src="assets/images/socialmedia/Instagram.png" alt="">
    <img src="assets/images/socialmedia/facebook.png" alt="">
    <img src="assets/images/socialmedia/youtube.png" alt="">
    <img src="assets/images/socialmedia/whatsapp.png" alt="">
  </div>
  <br><br><br><br><br><br>
  <button (click)="savePageAsImage()">save img</button>
</div> -->


<!-- <section class="details">
  <ul class="list">
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Surah)</span>&nbsp;سورۃ <p style="padding: 0;margin: 0;">114</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Ayah)</span>&nbsp;آیت <p style="padding: 0;margin: 0;">6,236</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Juz)</span>&nbsp;پارہ <p style="padding: 0;margin: 0;">30</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Manzil)</span>&nbsp;منزل <p style="padding: 0;margin: 0;">7</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Ruku)</span>&nbsp;رکوع <p style="padding: 0;margin: 0;">558</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Sajda)</span>&nbsp;سجدہ <p style="padding: 0;margin: 0;">15</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Hizb)</span>&nbsp;حزب <p style="padding: 0;margin: 0;">60</p></li>
    <li><span style="font-family: 'playwrite';font-size: 16px;">(Maqra)</span>&nbsp;مقرا <p style="padding: 0;margin: 0;">240</p></li>
  </ul>
</section> -->
<!-- <section class="details">
    <ul class="list">
      <li><span>(Surah)</span>&nbsp;سورۃ <p>114</p></li>
      <li><span>(Ayah)</span>&nbsp;آیت <p>6,236</p></li>
      <li><span>(Juz)</span>&nbsp;پارہ <p>30</p></li>
      <li><span>(Manzil)</span>&nbsp;منزل <p>7</p></li>
      <li><span>(Ruku)</span>&nbsp;رکوع <p>558</p></li>
      <li><span>(Sajda)</span>&nbsp;سجدہ <p>15</p></li>
      <li><span>(Hizb)</span>&nbsp;حزب <p>60</p></li>
      <li><span>(Maqra)</span>&nbsp;مقرا <p>240</p></li>
    </ul>
  </section> -->

<!-- <section class="details">
    <h1 style="text-align: center;">Quranic Division</h1>
    <div class="info-card mt-3">
      <div class="category">
        <div class="category-label">سورۃ</div>
        <div class="category-label1">(Surah)</div>
        <div class="category-value">114</div>
      </div>
      <div class="category">
        <div class="category-label">آیت</div>
        <div class="category-label1">(Ayah)</div>
        <div class="category-value">6,236</div>
      </div>
      <div class="category">
        <div class="category-label">پارہ</div>
        <div class="category-label1">(Juz)</div>
        <div class="category-value">30</div>
      </div>
      <div class="category">
        <div class="category-label">منزل</div>
        <div class="category-label1">(Manzil)</div>
        <div class="category-value">7</div>
      </div>
      <div class="category">
        <div class="category-label">رکوع</div>
        <div class="category-label1">(Ruku)</div>
        <div class="category-value">558</div>
      </div>
      <div class="category">
        <div class="category-label">سجدہ</div>
        <div class="category-label1">(Sajda)</div>
        <div class="category-value">15</div>
      </div>
      <div class="category">
        <div class="category-label">حزب</div>
        <div class="category-label1">(Hizb)</div>
        <div class="category-value">60</div>
      </div>
      <div class="category">
        <div class="category-label">مقرا</div>
        <div class="category-label1">(Maqra)</div>
        <div class="category-value">240</div>
      </div>
    </div>
  </section>  -->
<!-- <section class="definition">
    <div style="text-align: center;">
        <span style="font-size: 16px;">(Beauty of the Quran)</span>&nbsp;
        <p style="display: inline-block;padding: 0;margin: 0;font-family: 'alvi';font-size: 28px;">جمال القرآن

        </p> &nbsp;<span style="color: red;font-size: 25px;font-family: Jameel Noori Nastaleeq;">۱۴.</span>

    </div>
    <div class="urdu mt-3">
        <p
            style="font-family: Jameel Noori Nastaleeq;text-align: right;font-size: 20px;word-spacing: 5px;display: inline-block;">
            "جمال القرآن" کا مطلب ہے "قرآن کی خوبصورتی" یا "قرآن کی حسن۔" اس کا استعمال قرآن کے نزول، تفسیر، تلاوت، اور
            اس کے آداب اور احکام کے حوالے سے کیا جاتا ہے، جس میں قرآن کی تعظیم اور اس کی تلاوت کی حسن کی بات کی جاتی ہے۔
        </p>

    </div>
    <div class="english mt-2">
        <p style="font-family: playwrite;font-size: 15px;word-spacing: 2px;"><b>"Jamal al-Quran"</b> means "the
            beauty of the Quran" or "the elegance of the Quran." It is used to denote the reverence for the Quran's
            revelation, its interpretation, recitation, and the etiquettes and rulings associated with it, emphasizing
            the beauty of reciting and respecting the Quran.
        </p>
    </div>
    <br>
    <p style="font-family: Roboto;color: #006888;text-align: center;font-weight: 500;text-transform: uppercase;">
        These letters appear at the beginning of 29 chapters
    </p>
</section> -->

<!-- <button (click)="savePageAsImage()">save img</button> -->

<!-- <section class="definition">
    <br>
    <div class="container">
        <h1>Apne zindagi mein Quran ki hidayat ko amal mein laiye aur dosron ke sath share kijiye.</h1>
        <p>Ye zindagi ki asal safar hai jo sirf Allah ke raste par guzarni chahiye.</p>
    </div>


    <button class="btn">quran.icvibes</button>
    <div class="social" style="display: flex;justify-content: center;align-items: center;"><br><br><br><br>
        <img src="assets/images/socialmedia/Instagram.png" alt="">
        <img src="assets/images/socialmedia/facebook.png" alt="">
        <img src="assets/images/socialmedia/youtube.png" alt="">
        <img src="assets/images/socialmedia/whatsapp.png" alt="">
    </div>
</section> -->
<!-- <div class="body">
    <div class="quran-divisions">
        <div class="header">
            <span>مثالیں</span><span style="font-size: 18px;">☆</span>
        </div>
        <div class="list">
            <p style="text-align: center;">:رسول</p>
        </div>
        <div class="content">
            <p class="list-item">
                <span>(علیہ السلام)</span>  حضرت آدم 
            </p>
            <p class="list-item">
                <span>(علیہ السلام)</span>  حضرت نوح
            </p>
            <p class="list-item">
                <span>(علیہ السلام)</span>  حضرت ابراہیم
            </p>
            <p class="list-item">
                <span>(علیہ السلام)</span>  حضرت موسیٰ
            </p>
            <p class="list-item">
                <span>(علیہ السلام)</span>  حضرت عیسیٰ
            </p>
            <p class="list-item">
                <span>(صلی اللہ علیہ وآلہ وسلم)</span>  حضرت محمد
            </p>
        </div>
        <button class="btn">quran.icvibes</button>
        <br><br><br><br><br><br>
        <button (click)="savePageAsImage()">save img</button>
    </div>

</div> -->


<!-- <section class="definition">
    <br>
    <div class="container">
        <p>"Quran ke har hisse mein ek qeemti paigham chhupa hai jo hamare zindagi ke har pehlu ko roshan karta hai.
            Ise Share kare taaki yeh roshni aur hidayat
            har dil tak pahunch sake"</p>

    </div>
    <button class="btn">quran.icvibes</button>
    <br><br><br><br><br><br><br><br>
    <button (click)="savePageAsImage()">save img</button>
</section> -->

<section style="position: relative;">
    <br><br><br>
    <!-- <div>
        <img src="../../assets/images/25prophets/Adam/borderflower.png" alt=""
            style="width: 100%;transform: rotate(180deg);">
    </div> -->
    <div style="padding: 25px 10px 10px 15px;">
        <br>
        <!-- <h1 style="font-family: lato;text-align: center;">QUR'AN VERSES ON </h1>
        <h2 style="color: #FFC64A;font-family: lato;text-align: center;color: #494949;">PROPHET ADAM</h2>
        <div style="text-align: center;margin-top: 15px;">
            <img src="../../assets/images/25prophets/Adam/alaihissalamm.png" alt="" style="width: 25%;mix-blend-mode: darken;">
        </div> -->
        <p style="text-align: center;font-size: 30px;font-family: lateef;color: #181818;">وَعَلَّمَ ءَادَمَ
            ٱلۡأَسۡمَآءَ كُلَّهَا
            ثُمَّ عَرَضَهُمۡ عَلَى ٱلۡمَلَـٰٓئِكَةِ
            فَقَالَ أَنۢبِـُٔونِي
            بِأَسۡمَآءِ هَـٰٓؤُلَآءِ إِن كُنتُمۡ صَٰدِقِينَ</p>
        <p style="text-align: center;font-family: 'jameel noori nastaleeq';word-spacing: 4px;font-size: 22px;">"اور اللہ نے آدم کو سب چیزوں کے نام سکھائے، پھر ان چیزوں کو فرشتوں کے سامنے پیش کیا اور کہا: 'اگر تم سچے ہو تو ان چیزوں کے نام بتاؤ۔'"
        </p>
        <p style="text-align: center;font-family: 'playwrite';"><b>(Surah Al-Baqarah Ayat 31)</b></p>

        <!-- <p style="font-family: 'lato';font-size: 25px;text-align: center;">Tafseer</p> -->
        <!-- <p style="font-family: 'lato';font-size: 25px;text-align: center;">Points to Understand </p> -->
        <!-- <p style="font-family: 'lato';font-size: 25px;text-align: center;">Conclusion </p> -->
        <!-- <p style="font-family: 'jameel noori nastaleeq'; font-size: 30px;text-align: center;">نتیجہ </p> -->
        <div>
            <!-- <p style="text-align: center;font-size: 30px;font-family: 'lateef';margin: 0;">فَقَالَ أَنۢبِـُٔونِي
                بِأَسۡمَآءِ هَـٰٓؤُلَآءِ إِن كُنتُمۡ صَٰدِقِينَ</p>
            <p style="text-align: center;"><b
                    style="font-family: 'jameel noori nastaleeq';font-size: 20px;word-spacing: 4px;">( "اور کہا: اگر تم
                    سچے ہو تو ان چیزوں کے نام بتاؤ")</b></p> -->
            <!-- <div style="display: flex;margin-top: 5px;gap: 8px;">
                <p
                    style="font-family: 'jameel noori nastaleeq';font-size: 22px;margin: 0;text-align: right;word-spacing: 3px;color: #303030;">
                    اللہ نے فرشتوں سے فرمایا کہ اگر تم اپنے دعوے میں سچے ہو (کہ انسان فتنہ اور خونریزی کرے گا)، تو ان
                    چیزوں کے نام بتاؤ۔</p>
                <li>
                </li>
            </div> -->
            <!-- <div style="display: flex;gap: 8px;margin-top: 6px;">

                <p
                    style="font-family: 'jameel noori nastaleeq';font-size: 22px;margin: 0;text-align: right;word-spacing: 4px; color: #303030;">
                    یہ چیلنج فرشتوں کو دیا گیا تاکہ انہیں یہ سمجھ آئے کہ آدم (علیہ السلام) کو ایک خاص علم اور مقام دیا گیا ہے جو ان کے پاس نہیں ہے۔
                </p>
                <li>
                </li>
            </div> -->
            <!-- <p style="text-align: center;font-size: 30px;font-family: 'lateef';margin: 0;">ثُمَّ عَرَضَهُمۡ عَلَى
                ٱلۡمَلَـٰٓئِكَةِ</p>
            <p style="text-align: center;"><b style="font-family: 'playwrite';">( "then He placed them before the
                    angels"):</b></p>

            <div style="display: flex;margin-top: 5px;">
                <li>
                </li>
                <p style="font-family: 'playwrite';font-size: 15px;margin: 0;">Allah then presented those things to the
                    angels. The angels were shown these things which Allah had taught to Adam (AS).</p>
            </div>
            <br> -->
            <!-- <p style="text-align: center;font-size: 30px;font-family: 'lateef';margin: 0;">فَقَالَ أَنۢبِـُٔونِي
                بِأَسۡمَآءِ هَـٰٓؤُلَآءِ إِن كُنتُمۡ صَٰدِقِينَ</p>
            <p style="text-align: center;font-size: 15px;"><b style="font-family: 'playwrite';">( "and said: 'Tell Me
                    the names of these
                    if you are right"):</b></p>
            <div style="display: flex;">
                <li>
                </li>
                <p style="font-family: 'playwrite';font-size: 15px;margin: 0;">Allah challenged the angels to name these
                    things if they were truthful in their claim that the creation of a
                    vicegerent (Adam) would cause mischief and bloodshed.
                </p>
            </div>
            <div style="display: flex;">
                <li>
                </li>
                <p style="font-family: 'playwrite';font-size: 15px;margin: 0;">This challenge was given to the angels to
                    demonstrate that Adam (AS) had been endowed with a special knowledge and status that they did not
                    possess.
                </p>
            </div> -->
            <!-- <p style="font-size: 18px;font-family: 'playwrite';font-weight: 500;">1. Knowledge and Wisdom of Adam (AS):</p>
            <div style="display: flex;margin-top: 5px;padding: 0 11px;">
                <li>
                </li>
                <p style="font-family: 'playwrite';font-size: 15px;margin: 0;font-weight: 400;">Allah endowed Adam (AS) with a special knowledge and wisdom that the angels did not have. This knowledge gave Adam (AS) a superior status over the angels.
                </p>
            </div> -->
            <!-- <p style="font-size: 18px;font-family: 'playwrite';font-weight: 500;">2. Purpose of the Test:</p>
            <div style="display: flex;margin-top: 5px;padding: 0 11px;">
                <li>
                </li>
                <p style="font-family: 'playwrite';font-size: 15px;margin: 0;font-weight: 400;">This test was to show
                    the angels that the creation of man was not just for mischief and bloodshed, but also because of the
                    knowledge and wisdom given to him. The status and knowledge given to man by Allah justified his role
                    as a vicegerent.
                </p>
            </div> -->
            <!-- <p style="font-size: 18px;font-family: 'playwrite';font-weight: 500;">3. Significance of Names:</p>
            <div style="display: flex;margin-top: 5px;padding: 0 11px;">
                <li>
                </li>
                <p style="font-family: 'playwrite';font-size: 15px;margin: 0;font-weight: 400;">Knowing and
                    understanding the names and realities of things is a fundamental part of human knowledge and
                    intellect. By teaching Adam (AS) these things, Allah gave him a unique and superior status.
                </p>
            </div> -->
            <!-- <p
                style="font-size: 23px;font-family: 'jameel noori nastaleeq';font-weight: 500;text-align: center;word-spacing: 4px;margin-right: 15px;">
                آدم علیہ السلام کا علم اور حکمت &nbsp;&nbsp;!</p>
            <div style="display: flex;margin-top: 5px;padding: 0 11px;gap: 10px;">
                <p
                    style="font-family: 'jameel noori nastaleeq';font-size: 20px;margin: 0;font-weight: 400;word-spacing: 4px;text-align: right;">
                    اللہ تعالیٰ نے آدم علیہ السلام کو ایک خاص علم اور حکمت دی جو فرشتوں کے پاس نہیں تھی۔ اس علم نے آدم
                    <span>علیہ السلام</span> کو فرشتوں پر ایک افضل مقام دیا۔
                </p>
                <li>
                </li>
            </div> -->
            <!-- <p style="text-align: center;font-family: 'playwrite';">Allah taught Adam (AS) the names of all things,
                giving him special knowledge
                that the angels did not
                have. The challenge to the angels to name these things was to show that man had been endowed with
                knowledge and wisdom that made him superior to the angels.
            </p> -->
            <!-- <p style="text-align: center;font-family: 'jameel noori nastaleeq';font-size: 20px;word-spacing: 4px;">اللہ نے آدم (علیہ السلام) کو سب چیزوں
                کے نام سکھا کر انہیں ایک خاص علم دیا، جو فرشتوں کے پاس نہیں تھا۔ فرشتوں کو یہ چیلنج دیا گیا کہ اگر وہ
                اپنے دعوے میں سچے ہیں تو ان چیزوں کے نام بتائیں۔ یہ چیلنج انہیں یہ دکھانے کے لئے تھا کہ انسان کو جو علم
                اور حکمت دیا گیا ہے، وہ انہیں فرشتوں سے افضل بناتا ہے۔
            </p> -->
        </div>
    </div>
    <div>
        <img src="../../assets/images/25prophets/Adam/borderflower.png" alt="" style="width: 100%;">
    </div>
    <div style="height: 100vh;background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));position: absolute;top: 0;z-index: 999;">

    </div>
</section>


<button (click)="savePageAsImage()">save img</button>