<div
  style="height: 100vh;background-color: #000;display: flex;align-items: center;justify-content: center;flex-direction: column;">
  <!-- <div style="text-align: center;">
    <img src="../../assets/images/logo/logo.png" alt="" style="width: 40%;">
  </div> -->
  <h1 style="font-family: Lateef;color: #fff;font-size: 50px;">لَا إِلَٰهَ إِلَّا هُوَ </h1>
  <!-- <h1 style="font-family: 'Jameel Noori Nastaleeq';color: #fff;font-size: 20px;">quran.icvibes</h1> -->
  <br><br><br><br><br><br><br><br>
  <button (click)="savePageAsImage()">save img</button>
</div>
