<section style="background-color: rgba(18, 139, 192,0.1);height: 100vh;">
    <!-- <div class="dua-center">
    <h2 style="text-transform: uppercase;">dua for dunya and akhirah</h2>
</div> -->
    <!-- <div class="idris-section">
    <h2 class="title">Prophet Idris (AS)</h2>
    <p>Prophet Idris (AS) is mentioned in the Quran in:</p>
    <ul>
      <li>Surah Maryam (19:56-57)</li>
      <li>Surah Al-Anbiya (21:85)</li>
    </ul>
  </div> -->
    <br><br><br>
    <!-- <section
    style="background: linear-gradient(to bottom, #fff, #e8e8e8); padding: 20px;  max-width: 600px; margin: 20px auto; text-align: center; font-family: 'Arial', sans-serif;">
    <p style="font-size: 20px; font-weight: bold; color: #2c3e50; margin-bottom: 16px;">
        The name Idris is mentioned twice in the Quran:
    </p>
    <ul style="list-style: none; padding: 0; margin: 10px 0; font-size: 18px; color: #34495e;">
        <li style="margin: 12px 0;">• Surah Maryam (19:56-57)</li>
        <li style="margin: 5px 0;margin-right: 12px;">• Surah Al-Anbiya (21:85)</li>
    </ul>
</section> -->
    <div>
        <h2 style="text-transform: uppercase;text-align: center;font-family: lato;color: #128BC0;">Quran Verses On</h2>
        <p style="text-transform: uppercase;text-align: center;font-family: lato;color: #128BC0;">Prophet Idris</p>
        <div style="text-align: center;margin-right: 14px;">
            <img src="../../assets/images/25prophets/Idris/AS.png" alt="" style="width: 100px;">
        </div>
        <p style="text-align: center;margin-top: 10px;color: #128BC0;">Part 01</p>
    </div>
    <!-- <div style="padding: 10px;">
        <h3 style="font-family: Lateef;text-align: center;font-size: 28px;">وَٱذْكُرْ فِى ٱلْكِتَـٰبِ إِدْرِيسَ ۚ
            إِنَّهُۥ كَانَ
            صِدِّيقًۭا نَّبِيًّۭا</h3>

        <p style="font-family: alvi;text-align: center;font-size: 22px;margin-top: 10px;word-spacing: 3px;">"اور کتاب
            میں ادریس کا ذکر کیجیے۔ بے شک وہ سچائی والے نبی تھے۔"
        </p>
        <p style="font-family: alvi;text-align: center;font-size: 18px;word-spacing: 2px;">"And mention in the Book (the
            story of) Idris. Indeed, he was a man of truth and a prophet."</p>
    </div> -->

    <div style="padding: 15px;">
        <!-- <h4 style  ہمیت</h4> -->
        <!-- <h5 style="font-family: alvi;font-size: 20px;text-align: right;word-spacing: 3px;">:آیت کا سیاق و سباق
        </h5> -->
        <!-- <p style="font-family: alvi;text-align: right;font-size: 20px;margin-top: 10px;word-spacing: 3px;">
            یہ آیت سورہ مریم کا حصہ ہے، جس میں کئی انبیاء کرام کی کہانیاں بیان کی گئی ہیں۔
        </p>
        <p style="font-family: alvi;text-align: right;font-size: 20px;margin-top: 10px;word-spacing: 3px;">
            حضرت ادریس علیہ السلام کو ان کی راست بازی اور بلند مرتبہ کے لیے خاص طور پر ذکر کیا گیا۔
        </p> -->
        <!-- <li style="font-family: alvi; font-size: 18px;text-align: right;word-spacing: 3px; direction: rtl;">
            آپ علیہ السلام کا شمار ابتدائی انبیاء میں ہوتا ہے، جو حضرت آدم علیہ السلام کے بعد اور حضرت نوح علیہ السلام
            سے پہلے آئے۔
        </li>
        <li style="font-family: alvi; font-size: 18px;text-align: right;word-spacing: 3px;; direction: rtl;">مختلف روایات میں آپ کو علم، لکھنے کے فن اور دیگر سائنسی ترقیات کے بانیوں میں شامل کیا گیا ہے۔
        </li>
        <li style="font-family: alvi; font-size: 18px;text-align: right;word-spacing: 3px; direction: rtl;">آپ کو حکمت و دانش کا علمبردار سمجھا جاتا ہے، جنہوں نے اپنی قوم کو علم اور راست بازی کی دعوت دی۔
        </li> -->
    </div>
    <div style="padding: 15px;">
        <!-- <h4 style="font-family: lateef;font-size: 27px;text-align: right;word-spacing: 5px;">نَّبِيًّا  
            <span style="font-family: alvi;font-size: 20px;">(نبی)</span>
        </h4>
        <li
            style="font-family: alvi;font-size: 18px;text-align: right;word-spacing: 3px;list-style-position: inside; direction: rtl;">
            حضرت ادریس علیہ السلام کو بطور نبی ذکر کیا گیا، جو ان کے بلند روحانی مقام اور انسانیت کی رہنمائی کی ذمہ داری کی تصدیق ہے۔
        </li> -->
        <!-- <li
            style="font-family: alvi; font-size: 18px;text-align: right;word-spacing: 3px;list-style-position: inside; direction: rtl;">
            یہ حضرت ادریس علیہ السلام کی راست بازی اور اللہ سے تعلق کی عکاسی کرتا ہے۔
        </li> -->
        <!-- <li style="font-size: 13.9px;font-family: helvetica;margin-top: 10px;">
            Idris (AS) is explicitly referred to as a prophet, affirming his elevated spiritual rank and responsibility to guide people towards Allah.
        </li> -->
        <!-- <li style="font-size: 14px;font-family: helvetica;">
            This highlights Idris (AS)’s character as one of absolute integrity and faith.
        </li> -->
        <!-- <p style="font-family: alvi;text-align: right;font-size: 20px;margin-top: 10px;word-spacing: 3px;">
            یہ آیت سورہ مریم کا حصہ ہے، جس میں کئی انبیاء کرام کی کہانیاں بیان کی گئی ہیں۔
        </p>
        <p style="font-family: alvi;text-align: right;font-size: 20px;margin-top: 10px;word-spacing: 3px;">
            حضرت ادریس علیہ السلام کو ان کی راست بازی اور بلند مرتبہ کے لیے خاص طور پر ذکر کیا گیا۔
        </p> -->
    </div>
    <!-- <p style="text-align: center;font-family: playwrite;font-size: 13px;"><a href="">Surah Maryam (19:56-57)</a></p> -->
    <br><br><br><br><br><br>

    <button (click)="savePageAsImage()">save img</button>
</section>