<!-- <section style="overflow: auto;">
    <br><br><br><br><br><br><br>
    <p style="font-family: playwrite;font-size: 25px;">Muqatta'at in the Quran</p>

    <ul class="muqattaat-list">
        <li class="muqattaat-item">اَلِمٌّ</li>
        <li class="muqattaat-item">اَلمُّصْ</li>
        <li class="muqattaat-item">اَلرَّ</li>
        <li class="muqattaat-item">اَلْمُرَ</li>
        <li class="muqattaat-item">كَهْيَعْصٌ</li>
        <li class="muqattaat-item">طهٌ</li>
        <li class="muqattaat-item">طَسْمٌ</li>
        <li class="muqattaat-item">طَسٓ</li>
        <li class="muqattaat-item">يَسٌ</li>
        <li class="muqattaat-item">صٌ</li>
        <li class="muqattaat-item">حَمٌ</li>
        <li class="muqattaat-item">حَمْ عَسْقٌ</li>
        <li class="muqattaat-item">قٌ</li>
        <li class="muqattaat-item">نٌ</li>
    </ul>
</section>
<button (click)="savePageAsImage()">save img</button> -->

<section>
    <br><br><br>
    <br><br><br>
    <!-- <br>
    <p style="font-family: 'lato';font-size: 20px;color: #ffffff;">The word Adam mentioned 25 times in
        Quran</p> -->
    <!-- <p style="font-family: 'Jameel noori nastaleeq';font-size: 20px;color: #fff;">(Adam As) <span style="font-size: 35px;word-spacing: 4px;">آدم علیہالسلام</span></p> -->
    <!-- <table>
        <thead>
            <tr>
                <th>Surah</th>
                <th>Aayah</th>
                <th>Times</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Al-Isra</td>
                <td>17:61, 17:70</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Al-Kahf</td>
                <td>18:50</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Maryam</td>
                <td>19:58</td>
                <td>1</td>
            </tr>
            <tr>
                <td>Ṭā ḥā</td>
                <td>20:115, 20:116, 20:117, 20:120, 20:121</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Ya-Sin</td>
                <td>36:60</td>
                <td>1</td>
            </tr>
        </tbody>
    </table> -->
    <audio id="audio"
        src="https://myislam.sfo3.digitaloceanspaces.com/assets/2024/prophet-stories/adam/Prophet%20Adam.wav"></audio>
    <ul class="muqattaat-list">
        <!-- <li class="muqattaat-item">Adam As &nbsp;<span class="muqattaat-info">(آدم علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">1.</p>
        </li>
        <li class="muqattaat-item">Idris As &nbsp;<span class="muqattaat-info">(ادریس علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">2.</p>
        </li>
        <li class="muqattaat-item">Nuh As &nbsp;<span class="muqattaat-info">(نوح علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">3.</p>
        </li>
        <li class="muqattaat-item">Hud As &nbsp;<span class="muqattaat-info">(هود علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">4.</p>
        </li>
        <li class="muqattaat-item">Saleh As &nbsp;<span class="muqattaat-info">(صالح علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">5.</p>
        </li> -->
        <!-- <li class="muqattaat-item">Ibrahim As &nbsp;<span class="muqattaat-info">(إبراهيم علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">6.</p>
        </li>
        <li class="muqattaat-item">Lut As &nbsp;<span class="muqattaat-info">(لوط علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">7.</p>
        </li>
        <li class="muqattaat-item">Ismail As &nbsp;<span class="muqattaat-info">(إسماعيل علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">8.</p>
        </li>
        <li class="muqattaat-item">Ishaq As &nbsp;<span class="muqattaat-info">(إسحاق علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">9.</p>
        </li>
        <li class="muqattaat-item">Yaqub As &nbsp;<span class="muqattaat-info">(يعقوب علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">10.</p>
        </li> -->
        <!-- <li class="muqattaat-item">Yusuf As &nbsp;<span class="muqattaat-info">(يوسف علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">11.</p>
        </li>
        <li class="muqattaat-item">Ayub as &nbsp;<span class="muqattaat-info">(أيوب علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">12.</p>
        </li>
        <li class="muqattaat-item">Shuaib As &nbsp;<span class="muqattaat-info">(شعيب علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">13.</p>
        </li>
        <li class="muqattaat-item">Musa As &nbsp;<span class="muqattaat-info">(موسى علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">14.</p>
        </li>
        <li class="muqattaat-item">Harun As &nbsp;<span class="muqattaat-info">(هارون علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">15.</p>
        </li> -->
        <!-- <li class="muqattaat-item">Dhul-Kifl As &nbsp;<span class="muqattaat-info">(ذو الكفل علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">16.</p>
        </li>
        <li class="muqattaat-item">Dawud As &nbsp;<span class="muqattaat-info">(داود علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">17.</p>
        </li>
        <li class="muqattaat-item">Sulaiman As &nbsp;<span class="muqattaat-info">(سليمان علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">18.</p>
        </li>
        <li class="muqattaat-item">Ilyas As &nbsp;<span class="muqattaat-info">(إلياس علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">19.</p>
        </li>
        <li class="muqattaat-item">Al-Yasa As &nbsp;<span class="muqattaat-info">(اليسع علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">20.</p>
        </li> -->
        <!-- <li class="muqattaat-item">Yunus As &nbsp;<span class="muqattaat-info">(يونس علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">21.</p>
        </li>
        <li class="muqattaat-item">Zakariya As &nbsp;<span class="muqattaat-info">(زكريا علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">22.</p>
        </li>
        <li class="muqattaat-item">Yahya As &nbsp;<span class="muqattaat-info">(يحيى علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">23.</p>
        </li>

        <li class="muqattaat-item">Isa As &nbsp;<span class="muqattaat-info">(عيسى علیہالسلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">24.</p>
        </li>
        <li class="muqattaat-item">Muhammad SAW &nbsp;<span class="muqattaat-info">(محمد ﷺ)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">25.</p>
        </li> -->
    </ul>

</section>
<button (click)="savePageAsImage()">save img</button>
<!-- <section>
    <br>
    <p class="item-list">ربع الحزب</p>
    <span class="in-english">(Rub'
        al-Hizb)</span>

    <p class="urdu-translate">
        ربع الحزب اسلامی ثقافت میں ایک مصطلح ہے جو ایک حزب کا چوتھا حصہ ہے۔ یہ قرآن کو چھوٹے حصوں میں تقسیم کرتا ہے تاکہ
        اس کی تلاوت اور مطالعہ آسان ہو، اور روزانہ کی تلاوت اور حفظ کے لیے مناسب بناتا ہے۔ ہر ربع الحزب عموماً قرآن کے
        آدھے صفحے تک کا حصہ ہوتا ہے۔
    </p>

    <p class="eng-translate">
        Rub' al-Hizb is a term used in Islamic culture to refer to a quarter of a Hizb. It divides the Quran into
        smaller sections for ease of recitation and study, making it manageable for daily readings and memorization.
        Each Rub' al-Hizb typically spans about half a page in the Quran.
    </p>
</section> -->
<!-- <div class="body">
    <div class="quran-divisions">
        <div class="header">
            <span>نبی اور رسول میں چند اہم فرق</span><span style="font-size: 18px;">★</span>
        </div>
        <div class="list">
            <p style="text-align: center;">:نبی</p>
        </div>
        <div class="content">
            <p class="list-item">
                <b>تعریف:</b>&nbsp;&nbsp;نبی وہ ہے جو اللہ تعالیٰ کی طرف سے وحی یا الہام کے ذریعے ہدایت پاتا ہے اور اس ہدایت کو لوگوں تک پہنچاتا ہے۔
            </p>
            <p class="list-item">
                <b>مقصد:</b>&nbsp;&nbsp;نبیوں کا بنیادی کام لوگوں کو اللہ کی وحدانیت اور عبادت کی طرف بلانا ہے۔
            </p>
            <p class="list-item">
                <b>کتاب:</b>&nbsp;&nbsp;نبیوں پر کتاب یا نیا شریعت نازل نہیں ہوتی۔ وہ پہلے سے موجود شریعت کو لوگوں تک پہنچاتے ہیں۔
            </p>
            <p class="list-item">
                <b>تعداد:</b>&nbsp;&nbsp;نبیوں کی تعداد زیادہ ہوتی ہے۔ اسلامی عقائد کے مطابق، 124,000 نبی بھیجے گئے ہیں۔
            </p>
        </div>
        <button class="btn">quran.icvibes</button>
        <br><br><br><br><br><br>
        <button onclick="savePageAsImage()">save img</button>
    </div>

</div>
<button (click)="savePageAsImage()">save img</button> -->