    // // // ul {
    // // //     padding: 0;
    // // //     margin: 0;


    // // //     li {
    // // //         line-height: 17px;
    // // //         text-align: center;
    // // //         padding: 0;
    // // //         list-style: none;
    // // //         margin: 25px 0 25px 0;
    // // //     }
    // // // }

    // // // .main-section {
    // // //     height: 100vh;
    // // //     padding: 15px;
    // // //     color: #fff;

    // // //     .header {
    // // //         display: flex;
    // // //         align-items: center;
    // // //         justify-content: space-between;
    // // //     }

    // // //     .options {
    // // //         position: absolute;
    // // //         right: 0;
    // // //         bottom: 10%;
    // // //         padding: 0 15px;

    // // //         .main-sound {
    // // //             display: flex;
    // // //             align-items: center;
    // // //             justify-content: center;

    // // //             .sound {
    // // //                 width: 23px;
    // // //                 height: 23px;
    // // //                 border: 1px solid;
    // // //                 border-radius: 4px;
    // // //                 overflow: hidden;
    // // //             }

    // // //             img {
    // // //                 width: 100%;
    // // //             }
    // // //         }
    // // //     }

    // // //     .user {
    // // //         position: absolute;
    // // //         bottom: 10%;

    // // //         .user-child {
    // // //             display: flex;
    // // //             align-items: center;
    // // //             gap: 8px;

    // // //             .profile {
    // // //                 overflow: hidden;
    // // //                 height: 25px;
    // // //                 width: 25px;
    // // //                 border-radius: 50%;
    // // //                 border: 2px solid #ccc;
    // // //                 display: flex;
    // // //                 align-items: center;
    // // //                 justify-content: center;

    // // //                 img {
    // // //                     width: 40px;
    // // //                 }
    // // //             }
    // // //         }

    // // //         .lyrics {
    // // //             display: flex;
    // // //             gap: 5px;
    // // //             align-items: center;

    // // //             span {
    // // //                 font-size: 12px;
    // // //             }

    // // //             img {
    // // //                 mix-blend-mode: lighten;
    // // //                 width: 20px;
    // // //             }
    // // //         }

    // // //         .caption {
    // // //             font-size: 12px;
    // // //         }
    // // //     }
    // // // }



    // // .video-container {
    // //     display: flex;
    // //     overflow-x: auto;
    // //     scroll-snap-type: x mandatory;
    // //     height: 100vh;
    // //   }

    // //   .video-wrapper {
    // //     display: flex;
    // //     flex-direction: row;
    // //   }

    // //   .video {
    // //     flex: 0 0 100%;
    // //     scroll-snap-align: start;
    // //   }

    // //   video {
    // //     width: 100%;
    // //     height: 100%;
    // //     object-fit: cover;
    // //   }

    // //   .interactions {
    // //     position: absolute;
    // //     bottom: 10px;
    // //     left: 10px;
    // //     color: white;
    // //   }

    // //   .interactions i {
    // //     margin-right: 5px;
    // //   }

    // //   .header {
    // //     position: absolute;
    // //     top: 10px;
    // //     left: 10px;
    // //     color: white;
    // //   }

    // //   .header i {
    // //     margin-right: 5px;
    // //   }


    // .surah-al-fatiha {
    //   height: 100vh;
    //   background-size: cover;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    // }

    // .content {
    //   background-color: rgba(255, 255, 255, 0.8);
    //   padding: 20px;
    //   text-align: center;
    // }

    // .ayah {
    //   font-size: 24px;
    //   font-weight: bold;
    // }

    // .translation {
    //   font-size: 18px;
    //   margin-top: 10px;
    // }

    // // button {
    // //   margin-top: 20px;
    // //   padding: 10px 20px;
    // //   font-size: 16px;
    // //   background-color: #007bff;
    // //   color: white;
    // //   border: none;
    // //   cursor: pointer;
    // // }

    // button:hover {
    //   background-color: #0056b3;
    // }

    // // .tafseer {
    // //   box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.5), inset 0px -4px 8px rgba(0, 0, 0, 0.3);
    // // }
    section {
      line-height: 1.6;
      text-align: center;
      padding: 15px;
      height: 100vh;
      // color: #fff;
      // background: linear-gradient(to bottom, #FFB6C1, #8FD3F4, #FFE4C4);
      // background: linear-gradient(to bottom, #98FB98, #FFDEAD, #87CEFA);
      // background: linear-gradient(to bottom, #DDA0DD, #B0C4DE, #FFB6C1);
      // background: linear-gradient(to bottom, #FFD700, #AFEEEE, #D3D3D3);
      // background: linear-gradient(to bottom, #E6E6FA, #FF69B4, #FFE4E1);
      // background: linear-gradient(to bottom, #7FFFD4, #D8BFD8, #FFC0CB);
      // background: linear-gradient(to bottom, #FF6347, #EE82EE, #FFFACD);
      // background: linear-gradient(to bottom, #20B2AA, #FFA07A, #F0E68C);
      // background: linear-gradient(to bottom, #00FA9A, #FFB6C1, #AFEEEE);
      // background: linear-gradient(to bottom, #FF4500, #DEB887, #ADD8E6);
      // background: linear-gradient(to bottom, #b8d8e2, #2eb8b8);


      // background: linear-gradient(to bottom, #FFB6C1, #FFD1DC);
      // background: linear-gradient(to bottom, #8FD3F4, #B0E0E6);
      // background: linear-gradient(to bottom, #FFE4C4, #FFF0E0);
      // background: linear-gradient(to bottom, #E6E6FA, #D8BFD8);
      // background: linear-gradient(to bottom, #98FB98, #B0E57C);
      //  background: linear-gradient(to bottom, #FFFFE0, #FFFACD);
      //  background: linear-gradient(to bottom, #F08080, #FFDAB9);
      //  background: linear-gradient(to bottom, #DCDCDC, #F0F0F0);
      // background: linear-gradient(to bottom, #E6E6FA, #D1B2EB);
      // background: linear-gradient(to bottom, #AFEEEE, #E0FFFF);


      background: linear-gradient(to bottom, #FFB6C1, #8FD3F4);
      // background: linear-gradient(to bottom, #F9D71C, #78DDFF);    



    }

    // .muqattaat-list {
    //   list-style: none;
    //   padding: 0;
    //   display: flex;
    //   flex-direction: row-reverse;
    //   flex-wrap: wrap;
    //   justify-content: center;
    // }

    // .muqattaat-item {
    //   font-size: 22px;
    //   margin: 5px;
    //   padding: 10px;
    //   width: 380px;
    //   border: 1px solid #ccc;
    //   border-radius: 5px;
    //   background-color: #f0f0f0;
    //   font-family: 'lateef';
    //   position: relative;
    // }

    // .item-list {
    //   text-align: center;
    //   font-family: 'lateef';
    //   margin: 0;
    //   font-size: 30px;
    // }

    // .in-english {
    //   font-family: 'playwrite';
    //   font-size: 16px;
    //   text-transform: capitalize;
    // }

    // .urdu-translate {
    //   margin-top: 15px;
    //   font-size: 18px;
    //   word-spacing: 6px;
    //   font-family: 'jameel noori nastaleeq';
    // }
    // .eng-translate{
    //   font-family: 'playwrite';
    //   font-size: 13px;
    // }


    .body {
      font-family: 'Jameel Noori Nastaleeq', serif;
      // background: linear-gradient(to bottom, #FF7F50, #FFD700, #ADFF2F);
      // background: linear-gradient(to bottom, #FFA07A, #20B2AA, #778899);
      // background: linear-gradient(to bottom, #7FFFD4, #FFDAB9, #FF69B4);
      // background: linear-gradient(to bottom, #FF6347, #FF4500, #FFD700);
      // background: linear-gradient(to bottom, #B0E0E6, #ADD8E6, #F0E68C);
      // background: linear-gradient(to bottom, #DA70D6, #FFB6C1, #87CEFA);
      // background: linear-gradient(to bottom, #F0E68C, #D2B48C, #FFFACD);
      // background: linear-gradient(to bottom, #E6E6FA, #F08080, #FAFAD2);
      // background: linear-gradient(to bottom, #90EE90, #98FB98, #AFEEEE);
      background: linear-gradient(to bottom, #FFE4E1, #fddce0, #FFEFD5);
  
  
  
      // background: linear-gradient(to bottom, #FFEFD5, #FFB6C1, #8FD3F4);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
  }
  
  .quran-divisions {
      // background: white;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      max-width: 600px;
      width: 90%;
      text-align: right;
  }
  
  .header {
      text-align: center;
      font-size: 28px;
      font-weight: 500;
      word-spacing: 6px;
  }
  
  .header span {
      display: inline-block;
      margin: 0 5px;
  }
  
  .list {
      margin-top: 20px;
  }
  
  .list p {
      font-size: 25px;
  }
  
  .list-item {
      font-size: 20px;
      word-spacing: 4px;
      margin: 10px 0;
  }
  
  .list-item b {
      font-size: 20px;
  }
  
  button {
      background-color: #ff6347;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 18px;
      cursor: pointer;
      margin-top: 20px;
  }