<!-- <section style="overflow: auto;">
    <br><br><br><br><br><br><br>
    <p style="font-family: playwrite;font-size: 25px;">Muqatta'at in the Quran</p>

    <ul class="muqattaat-list">
        <li class="muqattaat-item">اَلِمٌّ</li>
        <li class="muqattaat-item">اَلمُّصْ</li>
        <li class="muqattaat-item">اَلرَّ</li>
        <li class="muqattaat-item">اَلْمُرَ</li>
        <li class="muqattaat-item">كَهْيَعْصٌ</li>
        <li class="muqattaat-item">طهٌ</li>
        <li class="muqattaat-item">طَسْمٌ</li>
        <li class="muqattaat-item">طَسٓ</li>
        <li class="muqattaat-item">يَسٌ</li>
        <li class="muqattaat-item">صٌ</li>
        <li class="muqattaat-item">حَمٌ</li>
        <li class="muqattaat-item">حَمْ عَسْقٌ</li>
        <li class="muqattaat-item">قٌ</li>
        <li class="muqattaat-item">نٌ</li>
    </ul>
</section>
<button (click)="savePageAsImage()">save img</button> -->

<section>
    <br>
    <p style="font-family: 'lato';font-size: 25px;">Prophets Mentioned in the Quran</p>

    <!-- <table>
        <tr>
            <td>sl no.</td>
            <td>names</td>
            <td>times</td>
            <td>where</td>
        </tr>
        <tr>
            <td>1.</td>
            <td>Adam as</td>
            <td>25 times</td>
            <td>1.</td>
        </tr>
    </table> -->

    <!-- <ul class="muqattaat-list">
        <li class="muqattaat-item">Adam as  &nbsp;<span class="muqattaat-info">(آدم علیہ السلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">1.</p>
        </li>
        <li class="muqattaat-item">اَلِمٌّ &nbsp;<span class="muqattaat-info">(ادریس علیہ السلام)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">2.</p>
        </li>
        <li class="muqattaat-item">اَلمُّصْ &nbsp;<span class="muqattaat-info">(نوح)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">3.</p>
        </li>
        <li class="muqattaat-item">اَلرَّ &nbsp;<span class="muqattaat-info">(هود)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">4.</p>
        </li>
        <li class="muqattaat-item">اَلرَّ &nbsp;<span class="muqattaat-info">(صالح)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">5.</p>
        </li>
        <li class="muqattaat-item">اَلرَّ &nbsp;<span class="muqattaat-info">(إبراهيم)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">6.</p>
        </li>
        <li class="muqattaat-item">اَلْمُرَ &nbsp;<span class="muqattaat-info">(لوط)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">7.</p>
        </li>
        <li class="muqattaat-item">اَلرَّ &nbsp;<span class="muqattaat-info">(إسماعيل)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">8.</p>
        </li>
        <li class="muqattaat-item">اَلرَّ &nbsp;<span class="muqattaat-info">(إسحاق)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">9.</p>
        </li>
        <li class="muqattaat-item">كَهْيَعْصٌ &nbsp;<span class="muqattaat-info">(يعقوب)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">10.</p>
        </li>
        <li class="muqattaat-item">طهٌ &nbsp;<span class="muqattaat-info">(يوسف)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">11.</p>
        </li>
        <li class="muqattaat-item">طَسْمٌ &nbsp;<span class="muqattaat-info">(أيوب)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">12.</p>
        </li>
        <li class="muqattaat-item">طَسٓ &nbsp;<span class="muqattaat-info">(شعيب)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">13.</p>
        </li>
        <li class="muqattaat-item">طَسْمٌ &nbsp;<span class="muqattaat-info">(موسى)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">14.</p>
        </li>
        <li class="muqattaat-item">اَلِمٌّ &nbsp;<span class="muqattaat-info">(هارون)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">15.</p>
        </li>
        <li class="muqattaat-item">اَلِمٌّ &nbsp;<span class="muqattaat-info">(ذو الكفل )</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">16.</p>
        </li>
        <li class="muqattaat-item">اَلِمٌّ &nbsp;<span class="muqattaat-info">(داود)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">17.</p>
        </li>
        <li class="muqattaat-item">اَلِمٌّ &nbsp;<span class="muqattaat-info">(سليمان)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">18.</p>
        </li>
        <li class="muqattaat-item">يَسٌ &nbsp;<span class="muqattaat-info">(إلياس )</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">19.</p>
        </li>
        <li class="muqattaat-item">صٌ &nbsp;<span class="muqattaat-info">(اليسع)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">20.</p>
        </li>
        <li class="muqattaat-item">حَمٌ &nbsp;<span class="muqattaat-info">(يونس )</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">21.</p>
        </li>
        <li class="muqattaat-item">حَمٌ &nbsp;<span class="muqattaat-info">(زكريا)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">22.</p>
        </li>
        <li class="muqattaat-item">حَمْ عَسْقٌ &nbsp;<span class="muqattaat-info">(يحيى)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">23.</p>
        </li>

        <li class="muqattaat-item">حَمٌ &nbsp;<span class="muqattaat-info">(عيسى)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">24.</p>
        </li>
        <li class="muqattaat-item">حَمٌ &nbsp;<span class="muqattaat-info">(محمد)</span>
            <p style="position: absolute;padding: 0;margin: 0;top: 19%;">25.</p>
        </li>
        
    
    </ul> -->
    
</section>
<button (click)="savePageAsImage()">save img</button>
<!-- <section>
    <br>
    <p class="item-list">ربع الحزب</p>
    <span class="in-english">(Rub'
        al-Hizb)</span>

    <p class="urdu-translate">
        ربع الحزب اسلامی ثقافت میں ایک مصطلح ہے جو ایک حزب کا چوتھا حصہ ہے۔ یہ قرآن کو چھوٹے حصوں میں تقسیم کرتا ہے تاکہ
        اس کی تلاوت اور مطالعہ آسان ہو، اور روزانہ کی تلاوت اور حفظ کے لیے مناسب بناتا ہے۔ ہر ربع الحزب عموماً قرآن کے
        آدھے صفحے تک کا حصہ ہوتا ہے۔
    </p>

    <p class="eng-translate">
        Rub' al-Hizb is a term used in Islamic culture to refer to a quarter of a Hizb. It divides the Quran into
        smaller sections for ease of recitation and study, making it manageable for daily readings and memorization.
        Each Rub' al-Hizb typically spans about half a page in the Quran.
    </p>
</section> -->
<!-- <div class="body">
    <div class="quran-divisions">
        <div class="header">
            <span>نبی اور رسول میں چند اہم فرق</span><span style="font-size: 18px;">★</span>
        </div>
        <div class="list">
            <p style="text-align: center;">:نبی</p>
        </div>
        <div class="content">
            <p class="list-item">
                <b>تعریف:</b>&nbsp;&nbsp;نبی وہ ہے جو اللہ تعالیٰ کی طرف سے وحی یا الہام کے ذریعے ہدایت پاتا ہے اور اس ہدایت کو لوگوں تک پہنچاتا ہے۔
            </p>
            <p class="list-item">
                <b>مقصد:</b>&nbsp;&nbsp;نبیوں کا بنیادی کام لوگوں کو اللہ کی وحدانیت اور عبادت کی طرف بلانا ہے۔
            </p>
            <p class="list-item">
                <b>کتاب:</b>&nbsp;&nbsp;نبیوں پر کتاب یا نیا شریعت نازل نہیں ہوتی۔ وہ پہلے سے موجود شریعت کو لوگوں تک پہنچاتے ہیں۔
            </p>
            <p class="list-item">
                <b>تعداد:</b>&nbsp;&nbsp;نبیوں کی تعداد زیادہ ہوتی ہے۔ اسلامی عقائد کے مطابق، 124,000 نبی بھیجے گئے ہیں۔
            </p>
        </div>
        <button class="btn">quran.icvibes</button>
        <br><br><br><br><br><br>
        <button onclick="savePageAsImage()">save img</button>
    </div>

</div>
<button (click)="savePageAsImage()">save img</button> -->