.splash-screen {
    height: 100vh;
    // background: linear-gradient(to bottom, #d7aefb, #ff77cd);
    background: linear-gradient(to bottom, #add8e6, #d6a2e8);
    display: flex;
    justify-content: center;
    align-items: center;
}